.container{
    width: 100%;
    min-height: 100vh;
    margin-top: 60px;
    color: #fff;
}

.container .content{
    padding: 2rem;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: space-between;
    transition: all .7s ease-in-out;
}

.container .content.show{
    opacity: 1;
}

.container .content .TextContent{
    white-space: pre-line;
    line-height: 4;
    font-family: var(--font2);
    font-size: 13px;
    font-weight: 100;
    color: var(--color1);
}

@media screen and (max-width: 640px) {

   .container .content{
    flex-direction: column-reverse;
    gap: 30px;
    margin-left: 60px;
   }
   .container .content .TextContent{
    width: 150%;
    /* border: 1px solid red; */
   }
}