@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&family=Press+Start+2P&display=swap');

:root{
  --font1: "Playpen Sans Thai", cursive;
  --font2: "Press Start 2P", system-ui;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
}

.backdrop{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  position: fixed;
  animation: fade-out 3s ease forwards;
  z-index: 999;
}

/* animation ALL */

@keyframes fade-out{
  to{
    opacity: 0;
  }
}