.header{
  position: relative;
}

.container {
  width: 100%;
  height: 94vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* filter: blur(120px); */
}

.i_backdrop {
  position: absolute;
  inset: 0;
  background: linear-gradient(-60deg, #000b2b, #2b0021, #000 42%);
  filter: blur(120px);
  opacity: 0.7;
  z-index: -1;
}

.header .content{
  font-family: var(--font2);
  padding: 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header .content .textheader{
  font-family: var(--font2);
  text-transform: uppercase;
  animation: changTextHeader 1s ease-in-out forwards;
  animation-delay: .7s;
  font-size: 2rem;
  font-weight: 700;
}

.header .scrollA{
  /* border: 1px solid red;   */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 53px;
  /* background: linear-gradient(180deg, #fff, #373737); */
  animation: scrollAnimation 2s ease-in-out infinite;
}

/* animation ALL */

@keyframes changTextHeader{
  to{
    color: #8a1efd;
  }
}

@keyframes scrollAnimation{
  0%{
    transform: translateY(-8px);
    opacity: 0;
  }

  50%{
    transform: translateY(0);
    opacity: 1;
  }

  100%{
    transform: translateY(8px);
    opacity: 0;
  }
}