.container{
    font-family: var(--font1);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-bottom: 80px;
    margin-top: 130px;
}

.container .contact{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.container .contact p{
    color: #fff;
}

.container .copy{
    color: #fff;
    margin-top: 10px;
    display: flex;
    width: 75%;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 640px) {
    .container{
        /* border: 1px solid red; */
        width: 100%;
    }
   .container .contact p{
        font-size: 12px;
   }
   .container .contact{
    /* border: 1px solid red; */
        width: 93%;
   }

   .container .bottom{
    flex-direction: column;
    gap: 50px;
    align-items: center;
   }

    .container .bottom .copy{
        width: 100%;
        font-size: 13px;
    }
}