.container{
    color: #fff;
    width: 100%;
    height: 100vh;  
    font-family: var(--font1);
}

.container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content .items{
    margin-top: 40px;
}

.container .content .items .box{
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--color1);
    width: 400px;
    padding:  0 10px;
    border-radius: 10px;
    cursor: pointer !important;
    border: 4px solid #5d00c1;
    text-transform: uppercase;
    margin-bottom: 20px;
}